td{
    padding:10px;
}

table{
    text-align:center;
    width:100%;
    padding: 3px;
}

input{
    background-color: #f5f5f5;
    width:35px;
    font-size: 13px;
}

body{ 
    text-align:center;
    background: url("c1.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.x{
    background: black;
    opacity: 0.7;
}

select{
    color: white;
    width:400px;  
    overflow:hidden;
    background-color: #999999;
}

